body {
  margin: 0;
  padding: 0;
  /*font-family: sans-serif;*/
  font-family: 'Exo 2', sans-serif;
  /*font-family: 'Acme', sans-serif;*/
  /*font-family: 'Montserrat Alternates', sans-serif;*/
}

.winner {
  /*background: #06479a;*/
  /*background:rgba(6, 71, 154,1);*/
  /*background: rgb(5,76,170);*/

  /*color:white;*/
  font-size:20px;
}

.btn {
  border-radius: 2px;
  border: none;
  /*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  /*transition-delay: 0.2s;*/
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  background: #e04e41;
  color: white;
  margin-bottom: 20px;
}

.btn:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.5);
  transition-delay: 0s;
  background: #e04e41;
  color:white;
}




.loser {
  background:#e04e41;
  color:white;
  font-size:20px;
}

.panel h1 {
	font-size: 30px;
}

.chart-panel .panel-body {
  padding-left:0px;
}

.jumbotron {
  padding-top:0px;
  margin-bottom:0px;
  padding-bottom:15px;
  background: url('../public/pingPong.jpg') no-repeat center center;
  background-size: cover;
}

.nav {
  float:right;
}

.nav h3 {
  color:white;
}

.navbar li a {
  padding-top:0px;
  padding-bottom:0px;
}

.nav h3:hover {
  color:#e04e41;
}

.navbar {
  padding-bottom:15px;
}

.navbar-brand {
  padding-top:0px;
}

nav a .fork {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  width: 149px;
  height: 149px;
}

.panel .panel-heading {
	/*background: #06479a;*/
  background: rgb(5,76,170);
	color:white;
}

.row-group .col-md-4 .panel {
	height: 237px;
}

.row-group .col-md-8 .panel {
	height: 237px;
}

.panel {
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border: none;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.panel:hover {
	  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.navbar {
	margin: 0px;
    border: 0px;
    /*background: #005cb3;*/
    /*background: rgb(6,71,154);*/
    background: rgb(5,76,170);
    border-radius: 0px;
    color: white;
}

.navbar span {
	color:white;
}